<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    welcome to my website
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo mollitia corrupti sapiente, ipsa, quis magnam saepe delectus accusamus repellat quia ducimus ratione in error eum. Porro maxime ipsum velit libero?</p>
    
</body>
</html>